<?xml version="1.0"?>
<config>
    <modules>
        <Chapagain_QuickOrder>
            <version>0.1.1</version>
        </Chapagain_QuickOrder>
    </modules> 
    <frontend>
		<events>
            <core_block_abstract_to_html_before>
                <observers>
                    <chapagain_quickorder>
                        <type>model</type>
                        <class>quickorder/observer</class>
                        <method>insertBlock</method>
                    </chapagain_quickorder>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
        <routers>
            <quickorder>
                <use>standard</use>
                <args>
                    <module>Chapagain_QuickOrder</module>
                    <frontName>quickorder</frontName>
                </args>
            </quickorder>
        </routers>
		<layout>
            <updates>
                <quickorder>
                    <file>chapagain_quickorder.xml</file>
                </quickorder>
            </updates>
        </layout>
        <translate>
			<modules>
				<Chapagain_QuickOrder>
					<files>
						<default>Chapagain_QuickOrder.csv</default>
					</files>
				</Chapagain_QuickOrder>
			</modules>
		</translate>
    </frontend>	
	<global>
		<models> 
            <quickorder>
                <class>Chapagain_QuickOrder_Model</class>
            </quickorder>
        </models>		
        <resources>
            <quickorder_setup>
                <setup>
                    <module>Chapagain_QuickOrder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </quickorder_setup>
            <quickorder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </quickorder_write>
            <quickorder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </quickorder_read>
        </resources>
        <blocks>
            <quickorder>
                <class>Chapagain_QuickOrder_Block</class>
            </quickorder>
        </blocks>
        <helpers>
            <quickorder>
				<class>Chapagain_QuickOrder_Helper</class>
            </quickorder>
        </helpers>
	</global>
	<default>
		<catalog>
			<chapagain_quickorder>
				<show_in_cart>1</show_in_cart>
				<show_in_left_sidebar>1</show_in_left_sidebar>
				<show_in_right_sidebar>1</show_in_right_sidebar>
			</chapagain_quickorder>
		</catalog>
	</default>
</config>
