<?xml version="1.0"?>
<config>
    <modules>
        <Potato_LoginAsCustomer>
            <version>1.0.2</version><platform>ce</platform>
        </Potato_LoginAsCustomer>
    </modules>
    <global>
        <resources>
            <po_loginascustomer_setup>
                <setup>
                    <module>Potato_LoginAsCustomer</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </po_loginascustomer_setup>
            <po_loginascustomer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </po_loginascustomer_write>
            <po_loginascustomer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </po_loginascustomer_read>
        </resources>
        <helpers>
            <po_loginascustomer>
                <class>Potato_LoginAsCustomer_Helper</class>
            </po_loginascustomer>
        </helpers>
        <models>
            <po_loginascustomer>
                <class>Potato_LoginAsCustomer_Model</class>
            </po_loginascustomer>
        </models>
    </global>
    <adminhtml>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <po_loginascustomer_adminhtml_widget_container_html_before>
                        <class>po_loginascustomer/observer</class>
                        <type>singleton</type>
                        <method>addLoginAsCustomerButton</method>
                    </po_loginascustomer_adminhtml_widget_container_html_before>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
        <translate>
            <modules>
                <Potato_LoginAsCustomer>
                    <files>
                        <default>Potato_LoginAsCustomer.csv</default>
                    </files>
                </Potato_LoginAsCustomer>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <potato_loginascustomer before="Mage_Adminhtml">Potato_LoginAsCustomer_Adminhtml</potato_loginascustomer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <po_loginascustomer>
                <use>standard</use>
                <args>
                    <module>Potato_LoginAsCustomer</module>
                    <frontName>po_loginascustomer</frontName>
                </args>
            </po_loginascustomer>
        </routers>
    </frontend>
</config>